swagger: '2.0'
info:
  title: OpenAPI Responses API
  description: ''
  version: '1.0'
host: api.openai.com
basePath: /
schemes:
  - https
consumes: []
produces: []
paths:
  /v1/models:
    get:
      responses:
        default:
          description: default
          schema:
            type: object
            properties:
              object:
                type: string
                description: object
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: id
                    object:
                      type: string
                      description: object
                    created:
                      type: integer
                      format: int32
                      description: created
                    owned_by:
                      type: string
                      description: owned_by
                description: data
      summary: Get Models
      operationId: GetModels
      description: Gets open AI Models
      parameters: []
  /v1/responses/{response_id}:
    get:
      responses:
        default:
          description: default
          schema:
            type: object
            properties:
              id:
                type: string
                description: id
              object:
                type: string
                description: object
              created_at:
                type: integer
                format: int32
                description: created_at
              status:
                type: string
                description: status
              error:
                type: string
                description: error
              incomplete_details:
                type: string
                description: incomplete_details
              instructions:
                type: string
                description: instructions
              max_output_tokens:
                type: string
                description: max_output_tokens
              model:
                type: string
                description: model
              output:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: type
                    id:
                      type: string
                      description: id
                    status:
                      type: string
                      description: status
                    role:
                      type: string
                      description: role
                    content:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: type
                          text:
                            type: string
                            description: text
                          annotations:
                            type: array
                            items: {}
                            description: annotations
                      description: content
                description: output
              parallel_tool_calls:
                type: boolean
                description: parallel_tool_calls
              previous_response_id:
                type: string
                description: previous_response_id
              reasoning:
                type: object
                properties:
                  effort:
                    type: string
                    description: effort
                  summary:
                    type: string
                    description: summary
                description: reasoning
              store:
                type: boolean
                description: store
              temperature:
                type: integer
                format: int32
                description: temperature
              text:
                type: object
                properties:
                  format:
                    type: object
                    properties:
                      type:
                        type: string
                        description: type
                    description: format
                description: text
              tool_choice:
                type: string
                description: tool_choice
              tools:
                type: array
                items: {}
                description: tools
              top_p:
                type: integer
                format: int32
                description: top_p
              truncation:
                type: string
                description: truncation
              usage:
                type: object
                properties:
                  input_tokens:
                    type: integer
                    format: int32
                    description: input_tokens
                  input_tokens_details:
                    type: object
                    properties:
                      cached_tokens:
                        type: integer
                        format: int32
                        description: cached_tokens
                    description: input_tokens_details
                  output_tokens:
                    type: integer
                    format: int32
                    description: output_tokens
                  output_tokens_details:
                    type: object
                    properties:
                      reasoning_tokens:
                        type: integer
                        format: int32
                        description: reasoning_tokens
                    description: output_tokens_details
                  total_tokens:
                    type: integer
                    format: int32
                    description: total_tokens
                description: usage
              user:
                type: string
                description: user
              metadata:
                type: object
                properties: {}
                description: metadata
      summary: Get a response
      operationId: GetResponse
      description: Get a previous response
      parameters:
        - name: response_id
          in: path
          required: true
          type: string
  /v1/responses:
    post:
      responses:
        default:
          description: default
          schema:
            type: object
            properties:
              id:
                type: string
                description: id
              object:
                type: string
                description: object
              created_at:
                type: integer
                format: int32
                description: created_at
              status:
                type: string
                description: status
              error:
                type: string
                description: error
              incomplete_details:
                type: string
                description: incomplete_details
              instructions:
                type: string
                description: instructions
              max_output_tokens:
                type: string
                description: max_output_tokens
              model:
                type: string
                description: model
              output:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: type
                    id:
                      type: string
                      description: id
                    status:
                      type: string
                      description: status
                    role:
                      type: string
                      description: role
                    content:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: type
                          text:
                            type: string
                            description: text
                          annotations:
                            type: array
                            items: {}
                            description: annotations
                      description: content
                description: output
              parallel_tool_calls:
                type: boolean
                description: parallel_tool_calls
              previous_response_id:
                type: string
                description: previous_response_id
              reasoning:
                type: object
                properties:
                  effort:
                    type: string
                    description: effort
                  summary:
                    type: string
                    description: summary
                description: reasoning
              store:
                type: boolean
                description: store
              temperature:
                type: integer
                format: int32
                description: temperature
              text:
                type: object
                properties:
                  format:
                    type: object
                    properties:
                      type:
                        type: string
                        description: type
                    description: format
                description: text
              tool_choice:
                type: string
                description: tool_choice
              tools:
                type: array
                items: {}
                description: tools
              top_p:
                type: integer
                format: int32
                description: top_p
              truncation:
                type: string
                description: truncation
              usage:
                type: object
                properties:
                  input_tokens:
                    type: integer
                    format: int32
                    description: input_tokens
                  input_tokens_details:
                    type: object
                    properties:
                      cached_tokens:
                        type: integer
                        format: int32
                        description: cached_tokens
                    description: input_tokens_details
                  output_tokens:
                    type: integer
                    format: int32
                    description: output_tokens
                  output_tokens_details:
                    type: object
                    properties:
                      reasoning_tokens:
                        type: integer
                        format: int32
                        description: reasoning_tokens
                    description: output_tokens_details
                  total_tokens:
                    type: integer
                    format: int32
                    description: total_tokens
                description: usage
              user:
                type: string
                description: user
              metadata:
                type: object
                properties: {}
                description: metadata
      summary: Create a model response
      operationId: CreateResponse
      description: Create a model response
      parameters:
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              model:
                type: string
                description: model
              input:
                type: string
                description: input
              store:
                type: boolean
                description: store
definitions: {}
parameters: {}
responses: {}
securityDefinitions:
  api_key:
    type: apiKey
    in: header
    name: Authorization
security:
  - api_key: []
tags: []
